* {
  box-sizing: border-box;
}

body {
  margin: 50 px;
  font-size: 17 px;
}

h1 {
  font-family: "Shizuru";
}

h2 {
  font-family: "Pushster";
}

p {
  color: royalblue;
  font-size: 20px;
  font-weight: bold;
  font-family: "Pushster";
  text-align: justify; /* left, center, right, justify */
  /*text-transform: uppercase;*/
  /*letter-spacing: 5px;*/
  /* word-spacing: 30px;*/
  /*line-height: 30px;*/
  /*text-shadow: 0px 2px 3px rebeccapurple; /* direita, baixo, espaço de esfumaçamento, cor */
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
  width: 600px;
}

/* th,
td {
  border: 1px solid black;
} */

table thead {
  background-color: rgb(189, 116, 204);
}

/* th {
  font-weight: normal;
} */

th,
td {
  padding: 5px;
  text-align: left;
}

tbody tr:hover {
  background-color: rgb(211, 113, 182);
}

/* tbody td {
  border-bottom: 1px solid rgb(189, 116, 204);
} */

tbody tr:nth-child(even) {
  background-color: rgb(230, 195, 236);
}

tbody tr:nth-child(even):hover {
  background-color: rgb(211, 113, 182);
}
