* {
  box-sizing: border-box;
}

body {
  margin: 50px;
  font-size: 16px;
}

h1 {
  font-family: "Pushster";
}

h2 {
  font-family: Courier;
}

label {
  display: block;
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea,
select {
  padding: 10px;
  width: 500px;
  font-size: 15px;
  border: 1px solid #ccc;
  outline: 0;
  margin-top: 5px;
}

textarea {
  height: 200px;
  resize: none;
}

.termoslink {
  color: #000;
  text-decoration: none;
} /* esconde o link dos termos */

.termoslink:hover {
  text-decoration: underline;
}

button,
input[type="submit"] {
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  background-color: #eee;
}

button:hover {
  background-color: #ddd;
}

input[type="submit"]:hover {
  background-color: #ddd;
}

fieldset {
  background-color: #eee;
  margin-bottom: 20px;
  border: 2px solid #ccc;
}

legend {
  background-color: #ccc;
  color: #fff;
  padding: 5px;
}

input[type="file"] {
  padding: 5px;
}
