img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  /* o objetivo da propriedade Object-fit no css é deixar a imagem redimensionada dependendo de qualquer tamanho que set nela. */
  /* fill: distorce a imagem, caso seja necessário (padrão); 
  contain: diminue a imagem para não distorcer. mantém a qualidade da imagem; 
  cover: redimensiona a imagem para aparecer o máximo dela e depois a corta para preencher o espaço; 
  none: corta a imagem para caber no espaço; 
  scale-down: similar a contain. redimeciona a imagem e diminue a qualidade da imagem para uma versão menor.*/
}

div {
  /* cetralizar a div. setar um tamanho e margin em auto */
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

div img {
  width: 100%; /* % do tamanho setado na div */
  height: auto; /* no auto para não distorcer e nem cortar a imagem */
}

body {
  background-color: coral;
  color: seashell;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

table,
td,
th {
  border: 2px solid black;
}

thead {
  text-align: left;
}

@media only print {
  /* only screen; all */
  img {
    display: none;
  }

  body {
    color: black;
    font-size: 16px;
  }
  h1 {
    font-size: 20px;
    font-weight: normal;
    color: black;
  }
  p {
    color: black;
    text-align: justify;
  }

  table,
  td,
  th {
    border: 0;
    color: black;
  }
}

@media (min-width: 1000px) {
  /*  item @media no CSS é usado para alterar as propriedades dos elementos de acordo com a resolução, 
  na qual, a página está. */
  body {
    background-color: rosybrown;
    color: seashell;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  body {
    background-color: beige;
    color: purple;
  }
}

@media (min-width: 300px) and (max-width: 700px) {
  body {
    background-color: pink;
    color: purple;
  }
}
