/* crlar variavéis para usar em todo o código (variáveis globais), colocando-as em :root{} */
/* o uso de variáveis é importante no css pois permite usar o mesmo valor de uma propriedade em mais de um elemento. */
:root {
  --bg-color: violet;
  --bg-second: #3939b8;
  --font-color: #a745e9;
  --font-size: 25px;
}

body {
  display: flex;
  background-color: var(--bg-color);
  color: whitesmoke;
  font-size: var(--font-size);
}
div {
  width: 200px;
  height: 200px;
  border: 2px solid black;
}

@media (orientation: landscape) {
  /* horizontal */
  /* a função da propriedade Orientation no @media do CSS é verificar se a tela está horizontal ou vertical. */
  body {
    flex-direction: row;
  }
}
@media (orientation: portrait) {
  /* vertical */
  body {
    flex-direction: column;
  }
}
@media (aspect-ratio: 1/1) {
  /* aplicado apenas quando a tela estiver na proporção 1 para 1 (quadrado) */
  /* O aspect-radio é usado para mudar as propriedades de acordo com a escala de tamanho do navegador 
  que o usuário está acessando a página. */
  body {
    background-color: darkred;
  }
}
@media (min-aspect-ratio: 2/1) {
  /* 2/1 -> proporção entre largura e altura. largura = 2 x altura */
  body {
    background-color: darkblue;
  }

  :root {
    --font-color: #e965a7;
  }
}
@media (max-aspect-ratio: 1/2) {
  body {
    background-color: darkgreen;
    color: var(--media-color);
  }

  :root {
    --font-size: 15px; /* troca de valor da variável dentro do @media */
    --font-color: #e965a7;
  }
}

h1 {
  margin: auto;
  color: var(
    --font-color,
    #00f
  ); /* caso não tenha a variável será aplicado o valor setado */
}

.container {
  background-color: var(--bg-second);
}

/* Qual a maneira correta de modificar uma variável de acodo com o media query no css? */
/* Iniciamos um novo :root dentro do @media e colocamos a variável e o valor de acordo com o que queremos 
para aquele @media. */
