img {
  width: 40vw;
}

table,
th,
td {
  width: 40vw;
  border: 1px solid #000;
}

th {
  text-align: left;
  background-color: #7fbbff;
}

textarea{
  width: 250px;
  height: 150px;
  resize: none;
}
