/* Criar os quadros (frames) de animação para depois aplicar a um elemento */
@keyframes animacao {
  0% {
    background-color: darkcyan;
    top: 1100px;
    left: 0;
  }
  25% {
    background-color: darkblue;
    top: 1100px;
    left: 500px;
  }
  50% {
    background-color: darkmagenta;
    top: 1300px;
    left: 500px;
  }
  75% {
    background-color: darkorchid;
    top: 1300px;
    left: 0;
  }
  100% {
    background-color: darkred;
    top: 1100px;
    left: 0;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
}
header {
  height: 150px;
  background-color: #bdb76b;
}
nav {
  height: 50px;
  background-color: #008b8b;
}
footer {
  height: 100px;
  background-color: #a9a9a9;
  text-align: center;
  line-height: 100px;
}
.login {
  width: 220px;
  height: 220px;
  background-color: #ccc; /* padrão */
  margin: auto;
  margin-bottom: 10px;
  /* border-radius: 10px; */
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* border-radius: 10px 20px 30px 40px */
  /* border-radius: 10px 20px; */
  /* 1º superior esquerdo e inferior direito; 2º superior direito e inferior esquerdo */
  background: linear-gradient(75deg, #eee, #999);
  background: -moz-linear-gradient(
    to right,
    #ccc,
    #eee
  ); /* para versões antigas do navegador mozilla */
  background: -o-linear-gradient(
    to right,
    #ccc,
    #eee
  ); /* para versões antigas do navegador opera */
  background: -webkit-linear-gradient(
    to right,
    #ccc,
    #eee
  ); /* para versões antigas do navegador safari */
}
input[type="text"],
input[type="password"],
input[type="submit"],
label {
  margin: 10px;
  height: 30px;
}
.animacao {
  width: 150px;
  height: 150px;
  background-color: darkred;
  position: absolute;
  top: 1100px;
  animation-name: animacao;
  animation-duration: 4s;
  animation-delay: 2s; /* tempo para iniciar a animação */
  animation-iteration-count: 2; /* números de repetição; infinite: repetição infiinita */
}

.shadow {
  width: 150px;
  height: 150px;
  background-color: darkorange;
  margin: auto;
  margin-bottom: 100px;
  text-align: center;
  line-height: 150px;
  box-shadow: 8px 8px 5px #888; /* horizontal, vertical, esfumaçamento, cor */
  border-radius: 75px;
  transition: all 1s linear; /* linear: mesma velocidade */
}

.shadow:hover {
  width: 300px;
  height: 300px;
  line-height: 300px;
  border-radius: 150px;
  background-color: yellow;
}

.texto {
  margin: 100px;
  color: darkgreen;
  font-size: 22px;
  text-shadow: 2px 2px 3px #888;
}

.spinner {
  margin: auto;
  margin-bottom: 50px;
  border: 8px solid rgb(0, 0, 0, 0.1);
  border-left-color: pink;
  border-radius: 90px;
  width: 60px;
  height: 60px;
  animation: spinner 1s linear infinite;
}

a {
  color: #000;
  transition: all 1s linear;
}
a:hover {
  color: #00f;
}
.longa {
  margin: 20px;
  width: 150px;
  height: 200px;
  border: 1px solid #000;
  word-wrap: break-word; /* quebra a palavra de acordo com o espaço disponível, ou seja, 
  impede que o texto que uma determinada div possua estoure o comprimento dela*/
}

q {
  color: #555;
  font-style: italic;
}
